*.aux
*.dvi
*.log
*.out
*.synctex.gz
*.blg
*.bbl
*.lck
*.bak*
*.pcap
*.pkl

UniPi_CSMaster_AI/IntelligentSystemsforPatternRecognition/assignments/midterm1/imgdataset/*
UniPi_CSMaster_AI/IntelligentSystemsforPatternRecognition/assignments/midterm1/computedset/*
UniPi_CSMaster_AI/IntelligentSystemsforPatternRecognition/assignments/midterm1/*.jpg
UniPi_CSMaster_AI/IntelligentSystemsforPatternRecognition/assignments/midterm1/*.png
