*.aux
*.dvi
*.log
*.out
*.synctex.gz
*.blg
*.bbl
*.lck
*.bak*
*.pcap
*.pkl

UniPi_CSMaster_AI/IntelligentSystemsforPatternRecognition/assignments/midterm1/imgdataset/*
UniPi_CSMaster_AI/IntelligentSystemsforPatternRecognition/assignments/midterm1/computedset/*
UniPi_CSMaster_AI/IntelligentSystemsforPatternRecognition/assignments/midterm1/*.jpg
UniPi_CSMaster_AI/IntelligentSystemsforPatternRecognition/assignments/midterm1/*.png
UniPi_CSMaster_AI/ParallelandDistributedSystems/code/assignment1_threads
UniPi_CSMaster_AI/ParallelandDistributedSystems/code/assignment1_async
UniPi_CSMaster_AI/ParallelandDistributedSystems/code/assignment2
UniPi_CSMaster_AI/ParallelandDistributedSystems/code/assignment3
UniPi_CSMaster_AI/ParallelandDistributedSystems/code/assignment4
UniPi_CSMaster_AI/ParallelandDistributedSystems/code/assignment4_packagedtasks
UniPi_CSMaster_AI/ParallelandDistributedSystems/code/examples/promise
UniPi_CSMaster_AI/IntelligentSystemsforPatternRecognition/assignments/midterm3/*.pt
UniPi_CSMaster_AI/IntelligentSystemsforPatternRecognition/assignments/midterm3/*.csv
*.pyc
UniPi_CSMaster_AI/ParallelandDistributedSystems/code/examples/vecaddgpu
*.bin
*.synctex(busy)
